/* line 5, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* line 27, ../sass/master.scss */
html {
  font-size: 16px;
}

/* line 31, ../sass/master.scss */
* {
  box-sizing: border-box;
}

/* line 35, ../sass/master.scss */
body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: #2F1E76;
  color: #fff;
  font-family: 'alma_mono', monospace;
  font-size: 1rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 35, ../sass/master.scss */
  body {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 35, ../sass/master.scss */
  body {
    font-size: 1.25rem;
    line-height: 2.0rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 35, ../sass/master.scss */
  body {
    font-size: 1.25rem;
    line-height: 2.0rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 35, ../sass/master.scss */
  body {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

/* line 62, ../sass/master.scss */
h1 {
  color: #D7D663;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 62, ../sass/master.scss */
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 62, ../sass/master.scss */
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 62, ../sass/master.scss */
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 62, ../sass/master.scss */
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

/* line 88, ../sass/master.scss */
h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 88, ../sass/master.scss */
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 88, ../sass/master.scss */
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 88, ../sass/master.scss */
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 88, ../sass/master.scss */
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}

/* line 118, ../sass/master.scss */
a {
  text-decoration: none;
  color: #64DE9B;
}
@media (hover: hover) {
  /* line 118, ../sass/master.scss */
  a {
    transition: color 0.5s ease;
  }
  /* line 125, ../sass/master.scss */
  a:hover {
    color: #EF4B40;
  }
}

/* line 131, ../sass/master.scss */
strong {
  font-weight: bold;
}

/* line 135, ../sass/master.scss */
.container {
  max-width: 83rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 135, ../sass/master.scss */
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 135, ../sass/master.scss */
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 135, ../sass/master.scss */
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 135, ../sass/master.scss */
  .container {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

/* Intro */
/* line 160, ../sass/master.scss */
.intro {
  padding: 3rem 0 0;
}
/* line 163, ../sass/master.scss */
.intro span {
  white-space: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 160, ../sass/master.scss */
  .intro {
    padding-top: 6rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 160, ../sass/master.scss */
  .intro {
    padding-top: 6rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 160, ../sass/master.scss */
  .intro {
    padding-top: 6rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 160, ../sass/master.scss */
  .intro {
    padding-top: 6rem;
  }
}

/* line 181, ../sass/master.scss */
.olle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
/* line 191, ../sass/master.scss */
.olle img {
  width: auto;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: -5%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 181, ../sass/master.scss */
  .olle {
    width: 144px;
    height: 144px;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 181, ../sass/master.scss */
  .olle {
    width: 144px;
    height: 144px;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 181, ../sass/master.scss */
  .olle {
    width: 144px;
    height: 144px;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 181, ../sass/master.scss */
  .olle {
    width: 172px;
    height: 172px;
    margin-bottom: 3rem;
  }
}

/* line 221, ../sass/master.scss */
.lead {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 221, ../sass/master.scss */
  .lead {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 221, ../sass/master.scss */
  .lead {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 221, ../sass/master.scss */
  .lead {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 221, ../sass/master.scss */
  .lead {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* line 245, ../sass/master.scss */
.intro__more {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2.5rem;
}

/* line 255, ../sass/master.scss */
.logo--intro {
  margin-right: 1.5rem;
}
/* line 258, ../sass/master.scss */
.logo--intro img {
  display: block;
}

/* Lists */
/* line 265, ../sass/master.scss */
.lists {
  margin-top: 3rem;
  padding: 3rem 0;
  background-color: #EF4B40;
}
/* line 270, ../sass/master.scss */
.lists__list {
  margin-bottom: 2.5rem;
}
/* line 273, ../sass/master.scss */
.lists__list:last-child {
  margin-bottom: 0;
}
/* line 278, ../sass/master.scss */
.lists a {
  color: #D7D663;
}
/* line 281, ../sass/master.scss */
.lists a:hover {
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 265, ../sass/master.scss */
  .lists {
    padding: 5rem 0;
  }
  /* line 289, ../sass/master.scss */
  .lists__list {
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1151px) {
  /* line 265, ../sass/master.scss */
  .lists {
    padding: 5rem 0;
  }
  /* line 296, ../sass/master.scss */
  .lists__list {
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 265, ../sass/master.scss */
  .lists {
    padding: 5rem 0;
  }
  /* line 303, ../sass/master.scss */
  .lists__list {
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 265, ../sass/master.scss */
  .lists {
    padding: 5rem 0;
  }
  /* line 310, ../sass/master.scss */
  .lists__list {
    margin-bottom: 4.5rem;
  }
}

/* Rosource */
/* line 318, ../sass/master.scss */
.back-to-front {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

/* line 325, ../sass/master.scss */
.resource--start .lead {
  margin-bottom: 3rem;
}

/* line 330, ../sass/master.scss */
.resource {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* line 334, ../sass/master.scss */
.resource.container {
  max-width: 50rem;
}
/* line 338, ../sass/master.scss */
.resource .logo {
  margin-bottom: 2rem;
}
/* line 341, ../sass/master.scss */
.resource .logo img {
  width: 52px;
  height: 52px;
}
/* line 347, ../sass/master.scss */
.resource p {
  margin: 0 0 2rem;
}
@media screen and (min-width: 1152px) and (max-width: 1311px) {
  /* line 347, ../sass/master.scss */
  .resource p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media screen and (min-width: 1312px) {
  /* line 347, ../sass/master.scss */
  .resource p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
/* line 361, ../sass/master.scss */
.resource .lead {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 1312px) {
  /* line 361, ../sass/master.scss */
  .resource .lead {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

/* line 372, ../sass/master.scss */
.note {
  background-color: #EF4B40;
  padding: 2rem;
  margin: 3rem 0;
}
/* line 377, ../sass/master.scss */
.note p {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* line 382, ../sass/master.scss */
.note p:last-child {
  margin-bottom: 0;
}
/* line 386, ../sass/master.scss */
.note a {
  color: #D7D663;
}
/* line 389, ../sass/master.scss */
.note a:hover {
  color: #64DE9B;
}

/* Author */
/* line 397, ../sass/master.scss */
.author {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 2px solid #EF4B40;
}
/* line 407, ../sass/master.scss */
.author__info {
  max-width: 32rem;
}
/* line 412, ../sass/master.scss */
.author .olle {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}
/* line 419, ../sass/master.scss */
.author p {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* line 423, ../sass/master.scss */
.author p:last-child {
  margin-bottom: 0;
}
/* line 427, ../sass/master.scss */
.author p span {
  white-space: nowrap;
}

@supports (animation-fill-mode: forwards) {
  /* line 435, ../sass/master.scss */
  .intro .olle, .intro h1, .intro p, .intro .intro__more {
    transform: translateY(32px);
    opacity: 0;
    will-change: transform;
    animation: show 0.3s ease;
    animation-fill-mode: forwards;
  }

  /* line 446, ../sass/master.scss */
  .intro h2, .intro p, .lists h2, .lists p {
    transform: translateY(32px);
    opacity: 0;
    will-change: transform;
    animation: show 0.4s ease;
    animation-fill-mode: forwards;
  }

  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(1) {
    animation-delay: 0s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(2) {
    animation-delay: 0.1s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(3) {
    animation-delay: 0.2s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(4) {
    animation-delay: 0.3s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(5) {
    animation-delay: 0.4s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(6) {
    animation-delay: 0.5s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(7) {
    animation-delay: 0.6s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(8) {
    animation-delay: 0.7s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(9) {
    animation-delay: 0.8s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(10) {
    animation-delay: 0.9s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(11) {
    animation-delay: 1s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(12) {
    animation-delay: 1.1s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(13) {
    animation-delay: 1.2s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(14) {
    animation-delay: 1.3s;
  }
  /* line 458, ../sass/master.scss */
  .intro__inner > *:nth-child(15) {
    animation-delay: 1.4s;
  }

  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(1) {
    animation-delay: 0.4s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(2) {
    animation-delay: 0.6s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(3) {
    animation-delay: 0.8s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(4) {
    animation-delay: 1s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(5) {
    animation-delay: 1.2s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(6) {
    animation-delay: 1.4s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(7) {
    animation-delay: 1.6s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(8) {
    animation-delay: 1.8s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(9) {
    animation-delay: 2s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(10) {
    animation-delay: 2.2s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(11) {
    animation-delay: 2.4s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(12) {
    animation-delay: 2.6s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(13) {
    animation-delay: 2.8s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(14) {
    animation-delay: 3s;
  }
  /* line 466, ../sass/master.scss */
  .lists__list > *:nth-child(15) {
    animation-delay: 3.2s;
  }

  @keyframes show {
    from {
      transform: translateY(32px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
